    <style>
p{
font-family: arial;
padding: 50px;
border: 15px;;
margin: 10px;
}
ul{
list-style-type: none;
}
table, th, td{
border: 1px solid;
}
table{
width: 30%;
height: 25%;
}
.clink  a:link{
color: red;
}
a:visited{
color: green;
}
a:hover{
color: hotpink;
}
a:active{
color: blue;
}

</style>
