<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title> dharesh portfolio</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
<link rel="stylesheet" href="{{ url_for("static", filename="css/styles.css")}}">
</head>
<body>
    <p>hi there!</p>
<header>
<h1> dharesh_portfolio </h1>
<nav>
<ul>
<li>    <a href="#about"> about</a>  </li>
<li>    <a href="#experience"> experience </a> </li>
<li> <a href="#education"> education </a> </li>
<li> <a href="#contact"> contact </a> </li>
</ul>
</nav>
</header>
<main>
    <h1 id="about"> junior web developer in training  </h1>
<table>
<tr>
<th> Name </th>
<th> Email </th>
<th> phone </th>
<th> city </th>
</tr>
<tr>
<td> Dharesh b </td>
<td> dhareshbalaraman@gmail.com </td>
<td> +917010572008 </td>
<td> Chennai </td>
</tr>
</table>
<section>
<h2 id="experience"> experience </h2>
</section>
<P>
    As a passionate learner, I am currently training to become a proficient Junior Web Developer. With a solid foundation in HTML, CSS, and JavaScript, I am eager to apply my skills in a real-world setting. My training includes building responsive websites, creating interactive web applications, and learning best practices in web development.
    <H3>Key Skills</H3>
    <p>
    HTML/CSS:
    Proficient in writing clean, efficient, and maintainable code to create visually appealing and user-friendly web pages.
    <br>
    JavaScript:
    Strong understanding of core concepts and hands on experience with syntax to build dynamic and interactive web features.
    <br>
    <h3>Training Highlights</h3>
    <p>
    Vision-Aid Academy Python Intermediate Course:
    Completed an intensive course that solidified my understanding of Python programming, enhancing my problem-solving abilities and logical thinking.
    Continuous Learning
    Actively participating in online courses, webinars, and coding challenges to keep up with the latest trends and technologies in web development.
    </p>
<h2 id="education">education</h2>
<p>
    Education:
    BA in History (Final Year)
    Presidency College, Chennai
    Expected Graduation: 2025
    </p>
    <h3>Soft Skills</h3>
    <p>
    Problem-Solving:
    Ability to tackle complex problems with creative solutions and a logical approach.
    Attention to Detail:
    Keen eye for detail, ensuring that every element of a webpage is perfect.
    Team Collaboration:
    Strong interpersonal skills, enabling effective communication and collaboration within a team environment.
    Adaptability:
    Quick learner who can adapt to new tools, technologies, and methodologies swiftly.
    <br>
    Objective:
    I am seeking an opportunity to start my career as a Junior Web Developer, where I can contribute to a dynamic team, grow my skills, and help build innovative web solutions. I am excited to bring my enthusiasm for web development and my commitment to continuous learning to a professional setting.
    </p>
    <h3>Additional Information </h3>
    <p>
    Disability:
    Visually impaired, demonstrating resilience and adaptability in overcoming challenges to achieve academic and professional goals.
    </p>
</main>
<footer>
<h3> footer navigation </h3>
<nav>
<ul>
<li> <a href="https://www.linkedin.com/in/dharesh-b-376413277?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app">linkedin</a> </li>

</ul>
    <p> copy rights 2024 dharesh</p>
</footer>
</body>
</html>